<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<!-- <File name="file" fileName="g:/logs/application.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File> -->
	</Appenders>
	<Loggers>
		<!-- 개발자가 만든 클래스 로깅처리 -->
		<!-- <logger name="com.company.controller" level="debug">
			<AppenderRef ref="file" />
		</logger> -->
		<logger name="com.company.controller" level="debug" />
		<logger name="com.company.service" level="debug" />
		<logger name="com.company.mapper" level="debug" />
		<!-- 스프링 프레임워크 로깅처리 -->
		<logger name="org.springframework.core" level="info" />
		<logger name="org.springframework.beans" level="info" />
		<logger name="org.springframework.context" level="info" />
		<logger name="org.springframework.web" level="debug" />
		<logger name="org.springframework.jdbc" level="debug" />
		<Root level="warn">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>