@charset "UTF-8";

/*전체*/

.container {
	width: 100%;
} 

/* 게시판 상단 */
.sub_tit_wrap h2 { 
	font:bold 36px Avenir, Arial, georgia; 
	color:#222222; 
	padding-top:30px; 
	position:relative; 
}

.type-size {
	height: 34px;
}

#keyword {
	font:15px Avenir, Arial, georgia;
	line-height: 30px;
	width: 205px;
}

/* 게시판 상단 - end */

/* 테이블 내부 */
.table {
 	width: 100%;
 	table-layout: fixed;
}

.table thead tr {
	text-align: center;
}


.table tbody td {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.table-No {
	width: 98px;
	text-align: center;
}

.table-Title {
	width: 55%;
	text-align: center;
}

.table-Writer {
	text-align: center;
}

.table-Date {
	text-align: center;
}

#amount {
	font: 15px Avenir, Arial, georgia;
	width: 80px; 
	height: 30px;
	line-height: 30px;
	color:#222222;
	position:relative;
}

.move{
	color: black;
}

.move:hover{
	color:black;
	text-decoration: none;
}

/* 테이블 내부 - end */

/* 게시판 하단*/
/* .col-md-12 {
	margin: auto;
	display: inline-block;
	text-align: center;
	table-layout: fixed;
}

 .text-center{
	 text-align:center;
 	display: inline-block;
 }
 .pagination {
	display: inline-block;
 }
 
 .page-item {
 	margin: 0px;
 	display: inline-block;
 }
 
 .button-reg{
 	display: inline-block;
 	text-align: right;
 } */

/* /* List CSS
타이틀
.sub_tit_wrap h2 { 
	font:bold 36px Avenir, Arial, georgia; 
	color:#222222; 
	padding-top:30px; 
	position:relative; 
}

작성버튼 라인
 .panel-heading {
 	padding-bottom: 0px;
	text-align: right;
}

#keyword {
	font:18px Avenir, Arial, georgia;
	line-height: 30px;
	width: 205px;
}

테이블
.table {
 	width: 100%;
 	table-layout: fixed;
}

.table thead tr {
	text-align: center;
}


.table tbody td {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.table-No {
	width: 98px;
	text-align: center;
}

.table-Title {
	width: 55%;
	text-align: center;
}

.table-Writer {
	text-align: center;
}

.table-Date {
	text-align: center;
}

------------------------확인 필요 하단 버튼 포지셔닝

#text-sita{
	text-align: center;
}


.col-md-12 {
	가운데로 보내는법
	margin: auto;

	text-align: center;
	table-layout: fixed;
}
 .pagination {
  	text-align:center;
	display: inline-block;
 }
 
 .page-item {
 	margin: 0px;
 	display: inline-block;
 }



.col-md-12{
	padding: 0px;
	display: flex;
}

.col-md-offset-22{
	
	padding-left: 0px;
	margin-left: 0px;
	width: 35%;
}

.text-center {
	가운데로 보내는법
	margin: auto;
	width: 35%;
	text-align: center;
	table-layout: fixed;
}

.col-md-8 {
 	padding-right: 0px;
	padding-bottom: 15px;
	padding-top: 0px;
	width: 35%;
}

------------------------확인 필요 하단 버튼 포지셔닝



--------------------------------------------

Register CSS
.page-header-detail {
	text-align: left;
	line-height: normal;
}

.regist-buttons {
 	padding-bottom: 0px;
	text-align: right;
}

.accordion {
	width: 100%;
	table-layout: fixed;
}

.mb-0 {
	font-weight: bold;
}

.reply-button{
	text-align: right;
}

.attach-position {
	float: none;
	margin: auto;
	width: 35%;
	text-align: center;
	table-layout: fixed;
} */




