html,
body {
  height: 100%;
}
input:focus {
  outline: none;
	-webkit-tap-highlight-color: transparent;
}
/* button:focus{
	outline: none;
	-webkit-tap-highlight-color: transparent;
} */

.title{
	display: flex;
	justify-content: center;
	margin: 40px auto;
	font-size: 3em;
	font-weight: bold;
}
.input{
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #e2e2e2;
  max-width: 630px;
  padding: 20px;
  margin: 0 auto;
  border-top: 2px solid #333333;
}
.login{
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #e2e2e2;
  max-width: 630px;
  padding: 20px;
  margin: 0 auto;
}
.form-signin {
 box-sizing: border-box;
  width: 100%;
  max-width: 630px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pwSearch{
	color: black;
	margin-right: 5px;
}

.btn-primary{
	background-color: #fff;
	border: 1px solid black;
	color: black;
}
.btn-primary:hover{
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
}

#textarea1{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14px;
}

#login{
	margin:0 auto;
}