@charset "UTF-8";

/*
main color : 9999cc

*/

.storemenu{
	background-color: #f2f8fa;
	font-size: 0.9em;
}

.container{
	display:block;
	justify-content: space-around;
}

section{

}

.row{
	width: 80%;
}

/* Side Bar */
.wrapper{
	display:flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
/*   background: #9999cc; */
  color: #fff;
  transition: all 0.3s;
}

#sidebar li{
/* 	background: #9999cc; */
	padding: 10px;
 	font-size: 1.1em;
 	display: block;
}


#sidebarCollapse{
/* 	background: #9999cc; */
	boarder: 0;
	outline: 0;
}



#sidebar ul li:hover {
  background: #fff;
}

#sidebar .activated{
/* 	background-color: #b6b6da; */
}