@charset "UTF-8";

.storemenu{
	background-color: #f2f8fa;
	font-size: 0.9em;
}

.storemenu.activated{
	background-color: #cff1fc;
}

.container{
	display:block;
	justify-content: space-around;
}

section{

}

.row{
	width: 80%;
}