<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.BoardAttachMapper">

	<!-- 파일 첨부 -->
	<insert id="insert">
		 insert into BoardTBL_Attach values(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{bno})
	</insert>
	
	<!-- 파일 삭제 -->
	<delete id="delete">
		delete from BoardTBL_Attach where bno = #{bno}
	</delete>
	
	<!-- 태스크용 오래된 1일 전 첨부리스트 불러오기 -->
	<select id="oldFileList" resultType="com.company.domain.BoardFileAttach">
		select * from BoardTBL_Attach where uploadPath = to_char(sysdate-1, 'yyyy\mm\dd')
	</select>

</mapper>