<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.BoardMapper">

	<!-- 1:1 문의 게시판 | 허 준 -->
	<!-- CRUD -->
	<insert id="insert">
		<selectKey keyProperty="bno" order="BEFORE" resultType="int">
			select seq_board.nextval from dual
		</selectKey>
			insert into BoardTBL(bno, title, content, writer, regdate, updatedate) 
			values(#{bno}, #{title}, #{content}, #{writer}, sysdate, sysdate)
	</insert>

	<delete id="delete">
		delete from BoardTBL where bno = #{bno}
	</delete>

	<update id="update">
		update BoardTBL set title = #{title}, content = #{content}, updatedate = sysdate where bno = #{bno}
	</update>

	<!-- 전체 조회 -->
	<select id="list" resultType="com.company.domain.BoardVO">		
		<![CDATA[
			select *
			from(select /*+INDEX_DESC(BoardTBL BoardTBL_PK) */ 
				rownum rn, bno, title, writer, regdate, updatedate, replyCnt
				from BoardTBL
				where
		]]>
			<include refid="criteria"></include>
		<![CDATA[
				rownum <= (#{pageNum} * #{amount}))
				where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<!-- 특정 조회 -->
	<select id="select" resultType="com.company.domain.BoardVO">
		select * from BoardTBL where bno = #{bno}
	</select>
		
	<!-- 전체 게시물 수 -->
 	<select id="totalCnt" resultType="int">
		select count(*) from BoardTBL where <include refid="criteria"></include> bno > 0
	</select>

	<!-- 댓글 개수 -->
	<update id="replyCntUpdate">
		update BoardTBL set replyCnt = replyCnt+#{amount} where bno=#{bno}
	</update>

	<!-- 첨부물 가져오기 -->
	<select id="attachList" resultType="com.company.domain.BoardFileAttach">
		select * from BoardTBL_Attach where bno=#{bno}
	</select>

	<!-- 동적 SQL -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type=='C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type=='W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

</mapper>