<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.MyPageMapper">
	<!-- 개별 조회 -->
	<select id="getId" resultType="com.company.domain.RegisterVO">
	<!-- select * from UserTBL where userid=#{userid} and password=#{password} -->
	select * from UserTBL where userid=#{userid}
	</select>

	<!-- 로그인 AuthVO isLogin(LoginVO login) AuthVO:넘어갈 데이터/ LoginVO: 넘어온데이터-->
	<select id="isLogin" resultType="com.company.domain.AuthVO">
	select userid, name from UserTBL where userid=#{userid} and password=#{password}
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="leaveMember">
	delete from UserTBL where userid=#{userid}
	</delete>
	
	<!-- 회원정보 변경 -->
	<update id="updateMember" parameterType="com.company.domain.ChangeVO">
	update UserTBL set password=#{new_password}, email=#{email}, tel=#{tel},
	postCode=#{postCode},address=#{address}, detailAddress=#{detailAddress}
	where userid=#{userid}
	</update>





</mapper>