<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.StoreMapper">

	<!-- 새로운 매장 등록하기 -->
	<insert id="insert">
		<selectKey keyProperty="code" order="BEFORE" resultType="int">
		<!-- 시퀀스를 먼저 발행함 : bno라는 값을 먼저 발행함 / keyProperty : 값을 저장하는 장소(like variable) / 값을 담을 VO와 이름 맞춤 -->
			select sq_store.nextval from dual
		</selectKey>
		insert into storeTBL(code, name, address)
		values(#{code}, #{name}, #{address})
	</insert>
	
	<!-- 등록 매장 리스트 불러오기 -->
	<select id="selectAll" resultType="com.company.domain.StoreVO">
		select * from storeTBL order by code desc
	</select>
	
	<select id="select" resultType="com.company.domain.StoreVO">
		select * from storeTBL where code=#{code}
	</select>

	<!-- 매장 삭제하기 -->
	<delete id="delete">
		delete from storeTBL where code=#{code}
	</delete>
	
	<!-- 매장 수정하기 -->
	<update id="update">
		update storeTBL
		set name=#{name}, address=#{address} where code=#{code}
	</update>

</mapper>